.fixed-card{

    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.fixed-img{

    width: auto;
    height: 100px;
    max-width: 80%;
    object-fit: contain;
}

.fixed-body{

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: 'Saiyan-Sans';
    src: url('./fuentes/Saiyan-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Esto asegura que la fuente se cargue correctamente */
}

h1{
    font-family: 'Saiyan-Sans', cursive !important; 
  }
  
