.fixed-card{

    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 9px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fixed-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-width: 3px;
    
}


.fixed-img{

    width: auto;
    height: 100px;
    max-width: 80%;
    object-fit: contain;
}

.fixed-body{

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
